
  <div class="row col-12 p-0 mt-5">
    <div class="col-2 p-0 menu-cont">
      <div class="menu-bar d-flex flex-column align-items-center">
        <h1 class="head mt-3">Menu</h1>
        <hr style="align-self: stretch;width: 100%;"/>
        <a class="menu-item" routerLink="dasboard">Dashboard</a>
        <a class="menu-item" routerLink="ems">Manage Employees</a>
        <a class="menu-item" routerLink="rms">Manage Rooms</a>
        <a class="menu-item" routerLink="manage-book">Manage Booking</a>
      </div>

    </div>
    <div class="col-10 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>

