<div class="container-fluid outer-cont p-0">
  <div
    class="inner-cont d-flex flex-row justify-content-between align-items-center"
  >
    <div class="img-cont">
      <img
        class="img-ele"
        src="https://image.freepik.com/free-vector/people-using-online-appointment-booking-app_74855-5556.jpg"
      />
    </div>
    <div class="list-cont">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="text-center">My Bookings</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                <th>No. of guests</th>
                <th>Approval Status</th>
                <th>Cancel Booking</th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="
                  margin-top: 80px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  margin-top: 80px;
                  margin-bottom: 80px;
                  border-radius: 10px;
                "
                [style]="colorpicker(book.approvalStatus)"
                *ngFor="let book of bookings | async"
              >
                <td>{{ userName }}</td>
                <td>{{ book.checkin }}</td>
                <td>{{ book.checkout }}</td>
                <td>{{ book.numOfGuests }}</td>
                <td>{{ book.approvalStatus }}</td>
                <td>
                  <button
                    [hidden]="
                      book.approvalStatus === 'Approved' ||
                      book.approvalStatus === 'Rejected'
                    "
                    (click)="deleteRoom(book.roomId)"
                    class="btn btn-danger"
                  >
                    Cancel
                  </button>
                </td>
                <td>
                  <button
                    [hidden]="
                      book.approvalStatus === 'Pending' ||
                      book.approvalStatus === 'Rejected' ||
                      book.feedGiven === true
                    "
                    data-toggle="modal"
                    data-target="#myModal"
                    (click)="bookingId = book.id"
                    class="btn btn-primary"
                  >
                    {{book.feedGiven}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal  fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content modalBack">
            <div class="modal-header d-flex flex-row justify-content-between">
              <button type="button" class="close m-0 p-0" data-dismiss="modal">
                &times;
              </button>
              <h4 class="modal-title m-0 text-center">Feedback</h4>
            </div>
            <div class="modal-body">
              <div class="container d-flex justify-content-center">

                  <div class="card">
                    <div class="card-body text-center">

                      <fieldset class="rating">
                        <input
                          type="radio"
                          id="star5"
                          name="rating"
                          value="5"
                          (change) = "onChangerating($event)"
                        /><label
                          class="full"
                          for="star5"
                          title="Awesome - 5 stars"
                        ></label>
                        <input
                          type="radio"
                          id="star4"
                          name="rating"
                          value="4"
                          (change) = "onChangerating($event)"
                        /><label
                          class="full"
                          for="star4"
                          title="Pretty good - 4 stars"
                        ></label>

                        <input
                          type="radio"
                          id="star3"
                          name="rating"
                          value="3"
                          (change) = "onChangerating($event)"
                        /><label
                          class="full"
                          for="star3"
                          title="Meh - 3 stars"
                        ></label>

                        <input
                          type="radio"
                          id="star2"
                          name="rating"
                          value="2"
                          (change) = "onChangerating($event)"
                        /><label
                          class="full"
                          for="star2"
                          title="Kinda bad - 2 stars"
                        ></label>

                        <input
                          type="radio"
                          id="star1"
                          name="rating"
                          value="1"
                          (change) = "onChangerating($event)"
                        /><label
                          class="full"
                          for="star1"
                          title="Sucks big time - 1 star"
                        ></label>

                        <input
                          type="radio"
                          class="reset-option"
                          name="rating"
                          value="reset"
                        />
                      </fieldset>
                      <hr>
                      <h2 class="mt-3"  style="text-align: center;font-size: 20px;">Share your Experience</h2>
                      <textarea [(ngModel)] = "comment"  style="resize: none;padding: 20px;" cols= 35 rows= 4></textarea>
                    </div>
                  </div>

              </div>
            </div>
            <div class="modal-footer d-flex flex-row justify-content-between">
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-success"

                (click) = "OnSubmitFeed()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
