<div class="container-fluid p-0">
  <div class="slider">
    <div class="load"></div>
    <div class="content">
      <div class="principal">
        <h1 class="head">YaHvi</h1>
        <p>Rooms are affordable now.</p>
        <p>Find your dream stay right here !</p>
      </div>
    </div>
  </div>
</div>

<div class="article-list">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Why choose us?</h2>
      <p class="text-center">
        We at YaHvi try our best to provide luxurious rooms in
        hotel. We enable our customers to connect with the Proper accomodations
        with just a click. At every stage of the platform, the best
        experience of our customers is prioritized.
      </p>
    </div>
    <div class="row articles">
      <div class="col-sm-6 col-md-4 item">
        <a href="#"
        ><img class="img-fluid" src="../../assets/images/avoid.png"
        /></a>
        <h3 class="name">Avoid Brokers</h3>
        <p class="description">
          We directly connect you to verified owners to save brokerage which
          may cost alot.
        </p>
        <a class="action" href="#"></a>
      </div>
      <div class="col-sm-6 col-md-4 item">
        <a href="#"
        ><img class="img-fluid" src="../../assets/images/free-listing.png"
        /></a>
        <h3 class="name">Safety Measures</h3>
        <p class="description">
          We at our YaHvi try our best to provide you with
          safety measures related to corona and so on
        </p>
        <a class="action" href="#"></a>
      </div>
      <div class="col-sm-6 col-md-4 item">
        <a href="#"
        ><img class="img-fluid" src="../../assets/images/shortlist.png"
        /></a>
        <h3 class="name">Shorlist without Visit</h3>
        <p class="description">
          We make your experience much better, by providing all the details
          and images of the rooms based on the filters you provide.
        </p>
        <a class="action" href="#"></a>
      </div>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
